@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --operator-button-color: #ff9f0a;
    --number-button-color: #333333;
    --alt-button-color: #a5a5a5;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Roboto", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

main {
     background-color: black;
     width: 500px;
     height: 740px;

     border-radius: 20px;
}

#number-display{
    color: white;
    height: 160px;

    display: flex;
    justify-content: end;
    align-items: center;

    font-size: 48px;

    padding-right: 50px;

}

h1{
    font-weight: lighter;
}

#calculator-numbers{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    
}


#left-button-container{
    display: flex;
    flex-direction: column;
    width: 340px;
    gap: 10px;
}

#operator-buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
#alt-buttons{
    display: flex;
    gap: 10px;
}
#number-buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.number-btn:hover{
    background-color: #615e5e;
}

.btn {
    width: 100px;
    height: 100px;

    border-radius: 50px;
    border: 0;

    font-size: 48px;
}
.number-btn {
    background-color: var(--number-button-color);
    color: white;
}

.operator-btn{
    background-color: var(--operator-button-color);
    color: white;
}

.operator-btn:hover{
    background-color: #ffad32;

}
.alt-btn{
    background-color: var(--alt-button-color);

}

.alt-btn:hover{
    background-color:#b9b9b9;
}


.btn.zero {
    width: 200px;
    text-align:start;
    padding-left: 40px;

    margin-right: 10px;
}

.active-operation{
    background-color: beige;
    color: var(--operator-button-color);
}